.App{
  min-height: 100vh;
}
:root{
  --main-bg-color:rgb(223, 232, 225);
  --dark-blue-color:rgba(24, 32, 46,0.5)
}
/*////////NavBar///////////*/
.navbar{
  background:var(--main-bg-color) ;
  display:flex;
  position: fixed;
  z-index: 3;
}
.navbar li{
  list-style: none;
  display: inline-block;
  margin:0 5px;
}
.navbar #dot{
  height:10px;
  width: 10px;
  background: rgba(68, 184, 68, 0.9);
  border-radius: 50%;
  position:fixed;
  z-index: 2;
  top: 21px;
  margin-left: 59px;
}
.navbar a{
  color:black;
}
.navbar a:hover{
  
}
nav span{
  cursor: pointer;
  display: none;
}
#logo{
  font-family: 'Dancing Script', cursive;
}

@media(max-width: 800px){
nav span{
  display: block;
}
.navbar ul{
  background:rgb(242, 247, 244);
   top:80px;
   right: 10px;
   position: fixed;
   padding: 0px;
   width: 40%;
   justify-content: center;
   transform:translateX(5px);
   transition: 0.5s;
   height: 70vh;
}
.navbar ul li{
  display:block;
  padding: 20px 20px 10px 80px;
  background:rgba(242, 247, 247, 0.6);
  margin-top: 4px;
  margin-left: 0px;
  width:100%;

}
/*.hide{
  display: block;
}*/
.show{
  
  display:none;
  transform:translateX(0px);
}
}
@media(max-width: 450px){
  .navbar button{
    font-size: 13px;
    height: 25px
  }
  #search{
    font-size: 13px;
    height: 25px;
    width: 110px;
  }
 #logo{
    font-size: 15px;
    margin: 0px;
  }
  .navbar ul{
    width:100%;
    margin: auto;
  }
}
/*////////mini-footer///////*/
.m-footer{
  background:var(--main-bg-color) ;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 100%;
  padding: 0px;
  font-size: 13px;
  height: 20px;
}
.m-footer p{
  
}
/*////////counter///////*/
.counter{
  background: rgb(242, 247, 244);
  width: 300px;
  padding: 10px;
}
.manage
{
  /*background: red;*/
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
 
}

.item{
  display:flex;
  justify-content: space-between;
}
form h4{
  text-align: center;
}
/*////////login///////*/
.login-form{
  background: var(--main-bg-color);
  margin:6px;
  border-radius: 5px;
}
#si-error{
  color:red;
  font-size: 13px;
  display: none;
}
/*////////signin///////*/
.signIn{
  background: var(--main-bg-color);
  margin:6px;
  border-radius: 5px;
}
form{
  padding:10px;
}
@media(max-width:450px){
label{
      font-size:14px;

  }
 input{
  height: 30px;
}
.signin-btn button{
  font-size: 13px;
}
.login-btn button{
  font-size: 13px;
} 
.manage button{
  font-size: 13px;
  }
}
#depoErr{
  color:red;
  font-size: 12px;
  display: none;
}
/*////////voucher///////*/
#vredeem{
  color:red;
  font-size: 12px;
  display: none;
}
/*////////deposit///////*/
.depo-form{
  background:var(--main-bg-color);
  margin:10px;
  border-radius: 5px;
}
/*////////footer///////*/
.footer{
  background:yellow;
  position: sticky;
  top:100%;
  font-size: 14px;
}
.upper-about{
  /*background: blue;*/
  display: flex;
}
.info{
  width:30%; 
  margin:5px 10px 0px 10px;
  height: auto;
 /* background: red;*/
}
.info h5{
  text-align: center;

}
.company{
  /*background: red;*/
  border-right: 1px solid grey;
}
.adress{
 /*background: brown;*/
 border-right: 1px solid grey;
 
}
.adress li{
  list-style: none;
}
.navigator{
 /* background: green;*/
}
.navigator li{
  list-style: none;
}
.navigator a{
  color:inherit;
}
.lower-about{
  display: flex;
  justify-content: space-between;
 /* background: purple;*/
}
.socials {
 /*background: pink;*/
 margin-top: 0px;
  width: 35%;
}
.socials h6{
  text-align: center;
}
.socials ul{
  display:flex;
  justify-content: space-around;
  align-content: center;

}
.socials li{
  list-style: none;
  
}
.socials a{
  color:inherit;
}
.copyright{
  /*background: green;*/
  font-size:13px;
  padding: 5px;
}
.copyright a{
  color:inherit;
}
@media (max-width:660px){
  .footer{
    font-size:14px;
  }
}
@media (max-width:450px){
  .footer{
    font-size:13px;
  }
  .upper-about{
   display:block;

  }
  .info{
  width:95%;
  margin-right: 10px;
}
.lower-about{
  display:block;
}
.socials{
  width: 100%;
}
.copyright{
  display: flex;
  justify-content: center;
  font-size:12px;
}
.adress{
  border:none;
  border-top: 1px solid grey;
}
.company{
  border:none;
}
.navigator{
  border-top: 1px solid grey;
}
}
/*////////display///////*/
.item-display{
  width:150px;
  height: 280px;
  background: rgb(235, 235, 230);
  margin:10px;
  border-radius: 5px;
  font-size: 13px;
}
.item-display:hover{
/*box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;*/
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.item-image{
  height:70%;
  background: red;
}
.item-image img{
  height: 100%;
  width: 100%;
}
.item-desc{
  height:30%;
 /* background: yellow;*/
}
.item-price{
  height:50%;
   display:flex;
   flex-direction: column;
  /*background: green;*/
  text-align: center;
  padding: 5px;
}
.purchase-btn{
  height:50%;
  /*background: blue;*/
  display:flex; 
  justify-content: center;
  padding: 5px;
  font-size: 12px
}
/*.purchase-btn button{
  font-size: 12px;
}*/
@media (max-width:660px){
  .item-display{
    width:130px;
   height: 260px;
  }
  .purchase-btn button{
    font-size: 12px;
  }
  .item-price{
    font-size: 14px;
  }
}
@media (max-width:310px){
  .item-display{
    width:110px;
   height: 210px;
   margin:4px;
  }
  .purchase-btn button{
    font-size: 11px;
  }
  .item-price{
    font-size: 11px;
  }
}
/*////////checkout///////*/
.checkout{
  background: rgb(223, 232, 225);
}
.payment-total{
  width: 40%;
}
.payment-method{
  width: 30%;
}
.upper-pay{
  /*background: blue;*/
  padding-top: 5px;
  display:flex;
  justify-content: space-between;
  padding-right: 15px;
}
.lower-pay{
  /*background: yellow;*/
  padding-top: 45px;
  display:flex;
  justify-content: space-between;
}
.lower-pay .btn{
  width:20%;

}
@media (max-width:660px){
.upper-pay{
  /*background: blue;
  display:block;*/
}
.payment-total{
  width: 50%;
}
.payment-method{
  width: 40%;
}
.form-select option{
  font-size:14px;
}

.lower-pay .btn{
  width:auto;

}
}
@media (max-width:440px){
  .upper-pay{
  display:block;
  padding-left: 0px;
}
  .payment-total{
  width: 80%;
}
.payment-method{
  width: 70%;
}
.lower-pay button{
  font-size:15px;
}
#selected{
  font-size: 14px;
}
}
@media (max-width:360px){
    .payment-total{
  width: 100%;
  margin-right: 0px;
}
.payment-method{
  width: 80%;
}
.lower-pay button{
  font-size:11px;
}
}

/*//////review//////*/
.review-card{
  width:30%;
  margin: 10px;
  background: rgb(223, 232, 225);
  border-radius: 4px;
}
.review-card:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.person-id{
  /*background: yellow;*/
  width:100%;
  height: 80px;
  display: flex;
  
}
.person-id-img{
  height:75px;
  width: 75px;
  border-radius: 50%;
  background: blue;
  margin: 4px 10px 1px 6px;
}
.person-id-img img{
  height: 100%;
  width:100%;
  border-radius: 50%;
}
.person-id-name i{
  font-size: 13px;
}
.person-comment{
 /* background: brown;*/
  padding: 5px;
  width:100%;
  min-height: 150px;
 text-align: center;

}
 @media (max-width:660px){
  .review-card{
    width: 50%;
  }
  .person-comment{
    font-size:13px;
  }
  .person-id-name i{
  font-size: 12px;
}
.person-id-img{
  height:65px;
  width: 65px;
  }
.person-id-name em{
  font-size: 14px;
 }
}
@media (max-width:360px){
  .review-card{
    width: 50%;
  }
  .person-comment{
    font-size:13px;
  }
}
/*///////////PAGES///////////*/
/*////Home/////*/
#home{
  background: url('https://kenyanwallstreet.com/wp-content/uploads/2020/11/2015_06_10_nairobi_6.jpg');
  height: 100vh;
  width: 100vw;
 
  
}
#home-intro{
  background: var(--dark-blue-color);
  margin:auto;
  width: 350px;
  display: flex;
  margin-top: 170px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  display: block;
  padding: 10px;
  
}
#home-intro h2{
  font-family: 'Dancing Script', cursive; 
  font-size: 30px;
  font-weight: 650;
  color: aliceblue;
}
#homeBtn{
  display: flex;
  justify-content: space-around;
  
}
/*////Menupg/////*/
#menu-page{
  min-height: 100vh
}
#display-content{
 /* background: yellow;*/
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
}
/*////Contactpg/////*/
#contact-page{
  min-height: 100vh;
}
#review-section
{
height:60vh;
/*background: pink;*/
display: flex;
align-content: center;
justify-content: space-around;

}
#subscribe{
  /*background: burlywood;*/
  width:30%;
  height: 320px;
  margin:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  background: var(--main-bg-color);
}
#subscribe:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#subscribe button{
  width: 60%;
}
/*////Account-pg/////*/
#account-page{
  min-height: 100vh;
}
.accContent{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  
  
}
.accCats{
  height: 80vh;
  overflow: scroll;
  overflow-y: scroll;
  width: 60vw;
  /*background: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
}
@media(max-width:660px){
  .accCats {
    width:100%;
  }
}

.accMenu ul{
  display:flex;
  flex-direction: column;
  background: var(--main-bg-color);
  justify-content: center;
  margin-top: 7px;
  padding: 8px 8px 0px 6px;
  margin-left: 5px;
}
.accMenu li{
  list-style: none;
  /*border: 1px solid black;*/
  width: 170px;
  margin-bottom: 6px;
  height: 40px;

}
.accMenu a{
  color:black;
  width: 100%;
  
}
.accMenu button{
  width:100%;
}